*{padding: 0;margin: 0}
body{background: #61380B} 

header {height: 190px}
header img{height: 190px;width: 100%}

nav{background: #2A120A;height: 25px}
nav a img{padding: 0px 20px 0px 20px}
nav a img:hover{height: 27px}

#main{border: 2px solid #2A120A;width: 1250px; min-height:2000px; margin: auto;
      background: #F5CBA7}
      #main section{display: inline-block;width: 1000px;border: 1px solid #61380B;box-shadow: 1px 1px 5px;min-height: 1016 }

footer{ background: #2A120A;width: 100%;}
footer p {text-align: center;color: #F5CBA7}

article{display: inline-grid;padding: 20px;width: 450px;}
section article img {width: 450px;height: 300px; align-self: center;}
article p {text-align: justify;font-family: cursive;font-size: 12pt;color:#2A120A }
h1{font-family: cursive;font-size: 14pt; color: #2A120A}
h3{font-family: cursive;font-size: 13pt; color: #2A120A}
section p{text-align: justify;font-family: cursive;font-size: 12pt;color:#2A120A }
section img{width: 600px;height: 400px}

table,tr,td{border: #61380B 5px solid; border-collapse: collapse;}
td img{width: 300px;height: 400px; }
td{width: 300px;height: 400px} 

#table2{border: #61380B 5px solid; width: 450px;height: 400px;border-collapse: collapse;}
#i{width: 450px;height: 400px;margin: auto;}
#c{text-align: center;}

#table1{border: 0}
#i1{width: 600px;height: 400px;margin: auto;}
#c1{text-align: center;}

aside{width: 200px;box-shadow: 1px 1px 5px #61380B;float: right;margin: 21px;background-color: #B7950B }
aside img{width: 150px;height: 150px}
aside p{color: #ffffff;font-size: 12pt}
aside h1{color: #ffffff;font-size: 13pt}

#F{color: #ffffff;font-size: 14pt;text-align: center;}
#f2{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;}
#Subtotal{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;}
#opcion{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;}
#iva{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;}
#total{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;}
#precio{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;}
#cargo{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;}
#enviar{background: #F5CBA7;font-size: 12px;font-family: cursive;color: #2A120A;border: #2A120A 2px solid;text-align: center;}
